@media (max-width:768px){
  /* .inner */
  .inner{
    width: 90%;
  }
  /* header */
  /* header_inner */
  .header_inner{
    display: none;
  }

  .gnb{
    height: 100%;
    position: relative;
  }

  .gnb ul{
    display: inline-block;
    width: 16.667rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    /* right: -250px; */
    background-color: rgba(3, 3, 3, 0.557);
    text-align: center;
    padding-top: 5.333rem;
  }

  .gnb ul li {padding:0.5rem 0;}

  .sns{
    display: block;
    position: absolute;
    right: 1%;
    /*transform:  translateX(150%);*/
  }

  /*intro_inner*/
  .intro_inner{
    height: 70vh;
    background-position: left 70% bottom;
  }

  .heading h2{
    font-size: 3rem;
  }
  
  /* 공통버튼 */
  .btn{
    padding: 10px 40px;
  }
  /*about*/
  .about{padding: 5.333rem 0;}

  .about_content{flex-direction: column;}

  .about_content > .about_img>img{margin-top: 2.667rem;}

  /* news */
  .news{
    padding: 5rem 0;
    width: 100%;
    height: 100%;
   } 

  .news_inner{padding-top: 3rem}

  .inner_heading>p{font-size:1.2rem}

  .inner_heading>h2{font-size: 3rem;}

  .news_content{
    display: flex;
    flex-direction: column;
  }

  /* team */
  .team{ height: 27rem;}

  .team_inner{ margin-top: 9.333rem;}

  .team_heading{height: 10rem;}

  .team_inner{margin-top: 5rem;}
  
  .team_content{text-align: center;}

  .team_content>div{
    display: block;
    width: 80%;
    height: 80%;
  }

  .t-card.box2,
  .t-card.box3{
    display: none;
  }

  .profile{
    display: flex;
    margin: auto;
    width: 15.667rem;
  }

   /* banner */
   .inner_heading>h3{
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    margin-top:1.25rem;
  }

  .banner>.inner_heading{
    margin-top:8rem;
  }

  .inner_banner2>h2{
    line-height: 3.5rem;
    margin: 1rem 0;
    font-size: 3.1rem;
  }

  .inner_banner2>p{
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--dosis);
  }

  .inner_banner2>h3{
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #000;
  }

  .long_bar{
    width: 100%;
    height: 1px;
    background-color: #9e9e9e;
    position: relative;
    top:4.667rem;
  }

  /* blog */
  .blog{
    width: 100%;
    height: 100%;
    background:url(../img/background_tran.jpg) no-repeat left bottom;
    background-size: 100%;
    padding-bottom: 6rem;
  }

  .inner_blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .blog_left, .blog_right{
    flex:100%;
  }

  .blog_left>h3, .blog_right>h3{
    text-align: center;
    font-size: 2rem;
  }

 .most_left>a>.bobox{
  flex-direction: column;
  align-items: center;
 }

 .most_right>a>.bobox{
  flex-direction: column;
  align-items: center;
 }

 div[class^="bimg"]{
  width: 27.267rem;
  height: 15.333rem;
  border-radius: 20px 0 20px 0;
  overflow: hidden;
  margin-right: 20px;
 }

  .bol_desc{
    text-align: center;
  }
  .most_left .bol_desc>h3{
    margin-top: 15px;
  }

  .bar2{
    width: 50.333rem;
  }

  /* footer */
  .footer{
    height:400px;
    background-color: #111;
  }

  .inner_footer{
    display: flex;
    flex-direction: column;
  } 

  .fobox_right{
    flex: 1;
    margin-top: 5.333rem;
  }

}
